#!/usr/bin/make -f

DEB_HOST_ARCH := $(shell dpkg-architecture -qDEB_HOST_ARCH)

ifeq ($(DEB_HOST_ARCH),amd64)
    BINARY_FILE := dsearch-linux-amd64.gz
else ifeq ($(DEB_HOST_ARCH),arm64)
    BINARY_FILE := dsearch-linux-arm64.gz
else
    $(error Unsupported architecture: $(DEB_HOST_ARCH))
endif

%:
	dh $@

override_dh_auto_build:
	if [ -f $(BINARY_FILE) ]; then \
		gunzip -c $(BINARY_FILE) > danksearch; \
	elif [ -f ../SOURCES/$(BINARY_FILE) ]; then \
		gunzip -c ../SOURCES/$(BINARY_FILE) > danksearch; \
	else \
		echo "ERROR: $(BINARY_FILE) not found!" && exit 1; \
	fi; \
	chmod +x danksearch

override_dh_auto_install:
	install -Dm755 danksearch debian/danksearch/usr/bin/danksearch
	ln -s danksearch debian/danksearch/usr/bin/dsearch

override_dh_auto_clean:
	dh_auto_clean
